@import 'tailwindcss';
@plugin "../../../../packages/core/src/tailwind-plugin.ts";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../../../packages/vue/src";
@source "../../../../packages/core/src";

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

h2[data-demo-anchor='true'] {
  scroll-margin-top: 140px;
}

/* Keep scrolling but hide scrollbars to avoid sider width shifting */
.demo-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-gutter: stable;
}

.demo-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
